.section {
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 238, 238);
  margin-bottom: 3.5rem;
}

.img {
  margin: 1rem;
  height: 230px;
  width: 300px;
}
