.section {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}

.title {
  font-size: 6rem;
}

.sub-title {
  font-size: 2rem;
}

/* ////////////////////////////// */

/* Media Queries */

/* Mobile Large */
@media (max-width: 426px) {
  .title {
    font-size: 4rem;
  }

  .sub-title {
    font-size: 1rem;
  }
}
