.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 4rem;
}

.container .projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.container .projects .project {
  height: 200px;
  width: 350px;
  border: black 5px solid;
  overflow: hidden;
  cursor: pointer;
}

.container .projects .project .wrapper {
  background-color: white;
  height: 0%;
  animation: slide-out 0.5s ease-in-out;
  width: 100%;
  z-index: 1;
  position: relative;
}

.container .projects .project .wrapper p {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 2rem;
  padding: 0.8rem;
  font-weight: bold;
}

.container .projects .project:hover .wrapper {
  height: 100%;
  animation: slide-in 0.5s ease-in-out;
}

.container .projects .project .link {
  height: 100%;
  width: 100%;
}

@keyframes slide-in {
  0% {
    height: 0%;
  }

  100% {
    height: 100%;
  }
}

@keyframes slide-out {
  0% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}
