.section {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}

.title {
  font-size: 5.5rem;
}

.skills {
  display: flex;
}

.skills .skill {
  font-weight: bold;
  margin-right: 1rem;
  font-size: 1.2rem;
}

/* ////////////////////////////////////// */

/* Media Queries */

/* Tablet */
@media (max-width: 769px) {
  .section {
    height: auto;
    padding: 1.8rem 0 1.8rem 2rem;
  }

  .title {
    font-size: 4rem;
  }
}

/* Desktop Down-sizing */
@media (max-width: 550px) {
  .skills {
    flex-direction: column;
  }
}

/* Mobile Large */
@media (max-width: 426px) {
  .skills .skill {
    font-size: 0.7rem;
  }
}

/* Mobile Large */
@media (max-width: 376px) {
  .skills {
    flex-direction: column;
  }

  .skills .skill {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
  }
}
